<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

    
   
    @RenderSection("scripts", required: false)
    @*<script src="~/Scripts/angular.js"></script>*@
    @*<script src="~/Angular/Controllers/AddVideoController.js"></script>*@
    @*<script src="~/Angular/Service/YoutubeEmbedUtils.js"></script>*@
    <script src="https://www.youtube.com/iframe_api"></script>
    @*<script src="~/Angular/Controllers/VideoController.js"></script>*@
    @*<script src="~/Angular/Controllers/BrowseVideosController.js"></script>*@
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet">
    <!-- Angular Material style sheet -->
    @*<link rel="stylesheet" href="~/Content/angular-material.min.css">*@
    
   
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    

  
</head>
<body ng-app="learnEnglishApp">
    <div style="position: relative;min-height:100%;">
        <div class="navbar navbar-inverse navbar-fixed-top" ng-app="LearnEnglishApp">
            <div class="container">
                <img alt="logo" src="https://d181h2ffads1u.cloudfront.net/images/personal/languages/English-UK/logo-02.png"
                     class="pull-left" style="height: 50px;" />

                
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" style="margin-left: 20px;">
                        <li>@Html.ActionLink("Videos", "BrowseVideos", "Video")</li>
                        <li>@Html.ActionLink("Video", "Video", "Video")</li>
                        <li>@Html.ActionLink("Add", "Add", "Video")</li>
                        
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content" >
            @RenderBody()
        </div>
        <footer class="footer-basic-centered">
            <div class="container">
                <img alt="logo" src="https://d181h2ffads1u.cloudfront.net/images/personal/languages/English-UK/logo-02.png" class="pull-left" style="height: 50px;">

                <p class="footer-links">
                    @Html.ActionLink("Home", "Index", "Home")
                    ·
                    @Html.ActionLink("Add", "Add", "Video")
                    ·
                    @Html.ActionLink("Contact", "Contact", "Home")
                </p>
                <p class="footer-company-name">Learn English © 2016</p>
            </div>
        </footer>
    </div>

    <style>
        
    </style>

    @Scripts.Render("~/bundles/angular")
    <!-- Angular Material Library -->
    @Scripts.Render("~/bundles/app")
    
    
</body>
</html>
